
<h2>Step 1: Choose the config file</h2>
<button
  type="button"
  ngxFilePicker
  accept="application/json"
  (readStart)="onReadStart($event)" 
  (filePick)="onFilePicked($event)"
  (readEnd)="onReadEnd($event)">
  Pick your config file
</button>
<p>
<strong>{{readContents}}</strong>
</p>
{{status}}
<p>
</p>
<h2>Step 2: Choose the game sequence file</h2>
<button
  type="button"
  ngxFilePicker
  accept="application/json"
  (sequencefilePick)="file = $event">
  Pick your sequence file
</button>
<hr/>
